*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background-color: lightyellow;
}
#burgerImage{
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.burgerContainer{
    margin: auto;
    width: 60%;
    display: flex;
}
.order {
    flex: 0 0 65%;
}
    
.devoured {
    flex: 1;
}
.burgerContainer .devourBurger{
    padding: 1rem;
    background-color: salmon;
    
}

.container {
    clear: both;
    text-align: center;
}
.container form{
    margin: auto;
    justify-content: center;
    text-align: center;
}
.container form .submitButton{
    padding: 1rem;
}
/* Come back to this when the devour button is live */
/* .burgerContainer .devourBurger:hover{
    color: white;
    padding-top: 2.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-repeat: no-repeat;
    background-image: url("/public/images/devourImage.jpg");
    background-size: 93px 52px;
} */
.container h4{
    text-align: center;
}
